body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------- عنوان ---------- */

h1 {
    text-align:right;
    color: #58a6ff;
    font-size: 40px;
    font-weight: bold;
    animation: upDown 1.5s ease-in-out infinite;
    text-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
}


@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ---------- متن ---------- */

#p1 {
    font-size: 20px;
    font-weight: bold;
    color: #7ee787;
    text-align:right;
    animation: leftRight 2s ease-in-out infinite;
    text-shadow: 0 0 8px rgba(126, 231, 135, 0.25);
}

/* @keyframes leftRight {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-10px);
    }
} */

/* ---------- لینک‌ها ---------- */

.pr {
    color: #c9d1d9;
    background-color: #161b22;

    display: block;
    width: fit-content;

    margin-left: auto;
    margin-right: 20px;
    margin-top: 15px;

    font-size: 30px;
    font-weight: bold;

    padding: 8px 18px;

    border: 1px solid #30363d;
    border-radius: 6px;

    text-decoration: none;

    transition: all 0.4s;
}

/* ---------- Hover لینک ---------- */

.pr:hover {
    background-color: #21262d;
    border: 1px solid #58a6ff;

    color: #58a6ff;

    font-size: 40px;

    box-shadow: 0 0 15px rgba(88, 166, 255, 0.25);
}

/* ---------- Python ---------- */

#python {
    color: #ffd866;
    position: absolute;
    right: 43%;
}

/* ---------- HTML ---------- */

#html {
    position: absolute;
    right: 60%;
    color: #ff7b72;
}

/* ---------- CSS ---------- */

#css {
    position: absolute;
    right: 30%;
    color: #79c0ff;
}